.App {
  font-family: sans-serif;
  background-color: rgb(230, 236, 240);
  /* 全体を画面いっぱいに広げるために必要 */
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 1200px;
}

.header {
  text-align: center;
  background-color: rgb(230, 236, 240);
  margin: 0 auto;
  width: 800px;
  height: 204.3px;
  margin-top: 30px;
}

.main {
  background-color: white;
  margin: 0 auto;
  width: 800px;
}

p {
  text-align: justify;
  padding: 10px;
}
